.movie-card-area__image {
  position: relative;
}

.movie-card-area__context .title p {
  font-size: 1rem;
}

.btn-custom {
  background: #2b1f31;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.5s;
}

.btn-custom:hover {
  background: #3c2b44;
  color: #fff;
}
